:root {
    --primari-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --secondary-color-fon: #F5F4FA;
}
.page {
    background-color: #FFFFFF;
    color: var(--primari-text-color);
}
.list {
    list-style: none;
}
/*цвет основного текста #212121*/
/*вторичный цвет текста #757575*/
/*белый цвет текста #FFFFFF*/
/* акцент #2196F3 */
/* цвет контактов футера rgba(255, 255, 255, 0.6) */
/* цвет фона героя и футера #2F303A */
/* вторичный цвет фона #F5F4FA */

/* Site heder */
.logo {
    color: #000;
}
.logo-web {
  color: var(--accent-color);  
}
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
color: var(--accent-color);
}
.contacts .link {
    color: var(--primari-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}
/* Hero */
.hero {
    background-color:#2F303A ;
}
.hero-title {
    color: var(--white-color);
}

/* Section */
.section-title {
    color: var(--title-text-color);
}
/* Features */
.feature .title {
    color: var(--title-text-color);
}
/* Examles */

/* Team */
.team .title {
   color: var(--title-text-color); 
}
/* Button */
.button {
    color: var(--white-color);
    background-color: var(--accent-color);
}
/* Footer */
.footer {
    background-color:#2F303A ;
}
.footer-logo {
    color:var(--white-color);
}
.adress-link {
    color:var(--white-color);
}
.adress .link {
    color:rgba(255, 255, 255, 0.6) ;
}
/* Porfolio */

/* Filter */
.button.filter {
    color: var(--title-text-color);
    background-color: var(--secondary-color-fon) ;
}
.button.filter:hover,
.button.filter:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.portfolio .link {
    color: var(--primari-text-color);
}
.portfolio .title {
    color:var(--title-text-color);
}
